$color-dark: #303131;
$color-white: #FFFFFF;
$color-yellow: #F0EA6E;
$color-green: #4DD5BC;
$color-darkgreen: #86E9D633;

$size-xs: 8px;
$size-s: 16px;
$size-xm: 24px;
$size-m: 32px;
$size-l: 40px;
$size-xl: 48px;
$size-xxl: 56px;

$p-xs: 4px;
$p-s: 8px;
$p-xm: 12px;
$p-m: 16px;
$p-l: 20px;
$p-xl: 24px;
$p-xxl: 28px;

$m-xs: 4px;
$m-s: 8px;
$m-xm: 12px;
$m-m: 16px;
$m-l: 20px;
$m-xl: 24px;
$m-xxl: 28px;